.contact-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.contact-info {
  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.contact-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s;
  min-width: 250px;
  justify-content: center;

}

.Mail {
  background-color: #d85656;

  &:hover {
    background-color: #d62727;
    transform: translateX(5px);
  }

  .con-mail-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    filter: brightness(0) invert(1);
  }
}

.GitHub {
  background-color: #272727;

  &:hover {
  background-color: #000000;
  transform: translateX(5px);
  }

  .con-github-icon {
  width: 35px;
  height: 35px;
  object-fit: contain;
  filter: brightness(0) invert(1);
  }
}

.Telegram {
  background-color: #0088cc;

  &:hover {
    background-color: #0077b5;
    transform: translateX(5px);
  }

  .con-telegram-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    filter: brightness(0) invert(1);
  }
}