.footer {
  background-color: var(--background-color-third);
  color: white;
  padding: 40px 0;
  text-align: center;
}

.footer-content {
  p {
    margin-bottom: 10px;
    color: var(--text-color);
  }
}

.footer-note {
  font-size: 0.9rem;
  color: #6a6d74 !important;
}